.home {
  text-align: center;

  .home-header {
    background-color: $section_color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $primary_color;

    .home-header__logo {
      height: 40vmin;
      pointer-events: none;
    }

    @media (prefers-reduced-motion: no-preference) {
      .home-header__logo {
        animation: home-logo-spin infinite 20s linear;
      }
    }

    .home-header__link {
      color: $main_color;

      &:hover {
        color: $hover_color_link;
      }
    }

    .home-header__link--mint {
      color: $mint-color;
    }
  }
}